body {
    font-size: 14px;
    background: black;
}

h1 {
    font-size: 68px;
}

h2,
h3,
h4 {
    letter-spacing: 1px;
}

li {
    display: inline-block;
}

a {
    color: inherit;
}

a:hover,
a:visited,
a:active,
a:focus {
    text-decoration: none;
    color: inherit;
}

.align-center {
    text-align: center;
}

header nav.navbar {
    padding-top: 12px;
    position: absolute;
    width: 100%;
    border-radius: 0;
}

.fixed-nav-appear {
    position: fixed;
    background: #3399ff;
}

header .navbar-header {
    padding-top: 15px;
    padding-left: 8px;
}

header nav.fixed-nav-appear {
    position: fixed;
}

header .navbar-header button {
    margin-top: -2px;
}

header a.navbar-brand {
    background: url('../img/logo.png');
    overflow: hidden;
    text-indent: 100%;
    background-repeat: no-repeat;
    width: 138px;
    height: 23px;
    background-size: contain;
}

header .navbar-nav a {
    letter-spacing: 0.2em;
    color: white;
    font-size: 10px;
    font-weight: 200;
}

header .navbar-nav {
    padding-right: 5px;
}

header .navbar-nav a.active {
    color: #ccc;
}

header .navbar-nav a:hover {
    background: transparent;
    cursor: pointer;
    color: #ccc;
}

header .navbar-nav .contact {
    color: #3399ff;
    background-color: white;
    padding: 9px 16px;
    margin-top: -9px;
    font-weight: 600;
}

header .icon-bar {
    background-color: white;
}

.hero {
    background: url('../img/hero_cover.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
    position: relative;
    height: 534px;
    padding-top: 245px;
    z-index: -2;
}

.hero .overlay {
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    background-color: rgba(30, 30, 30, 0.2);
    z-index: -1;
}

.hero h1 {
    color: white;
    font-weight: 100;
    letter-spacing: 6px;
    text-align: center;
}

article {
    background: white;
}

.first-article {
    background: #eee;
    padding: 36px 0;
}

.first-article .service {
    padding: 40px 0;
    border-bottom: 1px #ccc solid;
}

.first-article .service:last-child {
    border-bottom: none;
}

.first-article .title h3 {
    font-weight: 300;
    padding-bottom: 24px;
}

.first-article .service h4 {
    font-weight: 300;
    font-size: 14px;
    margin-bottom: 1.5em;
    line-height: 1.4em;
}

.second-article {
    text-align: center;
    padding-top: 32px;
}

.second-article h2 {
    font-size: 14px;
    font-weight: 400;
}

.second-article .client {
    border-bottom: 1px #ccc solid;
    padding: 32px 0;
}

.second-article .client img {
    width: 100%;
}

footer {
    background-color: #000;
    color: white;
    font-weight: 100;
}

footer a {
    letter-spacing: 2px;
    font-size: 12px;
}

footer .back-to-top {
    padding-top: 54px;
    padding-bottom: 72px;
    width: 100%;
}

footer .footer-nav {
    padding: 12px 0px;
}

footer .footer-nav ul {
    padding-left: 0;
}

footer .footer-nav li a {
    padding: 10px 15px;
    color: #bbb;
}

footer .copy-right {
    font-size: 10px;
    color: #bbb;
    padding-bottom: 43px;
    letter-spacing: 1px;
}